# Idea project settings
.idea/artifacts
.idea/copyright
.idea/dictionaries
.idea/libraries
.idea/scopes
.idea/.name
.idea/compiler.xml
.idea/jenkinsSettings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/encodings.xml
.idea/vcs.xml
*.iml

# Java stuff
target
dependency-reduced-pom.xml

mem.h2.db
mem.trace.db

